body {
    font-family: 'Inter', sans-serif;
    background: linear-gradient(to bottom, #ffe9d6, #ffd1b3);
    background-color: #ffd1b3;
 
}

body::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari */
}

.hero {
    background-size: cover;
    background-position: center;
    color: white;
    position: relative;
}

.penutup{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 20px;
}

.hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.hero-content {
    position: relative;
    z-index: 1;
}

header a:hover {
    text-decoration: underline;
}

.cloud {
    position: absolute;
    background: radial-gradient(circle, #ffffff 60%, rgba(255, 255, 255, 0) 90%);
    border-radius: 50%;
    filter: blur(30px);
    animation: float 15s infinite ease-in-out;
}

#anggota-section img {
    display: block;
    margin: 0 auto;
    max-width: 80%; 
    height: auto;
}

section {
    background-color: inherit; /* Ensures sections follow the body background */
    padding: 50px 20px; /* Keeps spacing consistent */
}

.logo-collab img {
    max-width: 50px; /* Adjust size */
    height: auto;
}

 


@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}
